@import "../../../../bower_components/susy/sass/susy";

$breakpoint-no-query-fallbacks: true;

$susy: (
  columns: 6,
  container: 1152px,
  gutter-position: inside,
  gutters: 0,
  global-box-sizing: border-box
);

$media-fallback: '.no-mq';

$susy-media: (
  medium: 28em,
  large: 48em,
  extra-large: 62em,
  info-large: 77em,
  info-extra-large: 85em
);

$medium-cols: 6;
$breakpoint-medium: medium, $medium-cols;
$breakpoint-medium-fixed: medium, $medium-cols, $media-fallback;

$large-cols: 12;
$breakpoint-large: large, $large-cols;
$breakpoint-large-fixed: large, $large-cols, $media-fallback;

$extra-large-cols: 12;
$breakpoint-extra-large: extra-large, $extra-large-cols;
$breakpoint-extra-large-fixed: extra-large, $extra-large-cols, $media-fallback;

$info-large-cols: 12;
$breakpoint-info-large: info-large, $extra-large-cols;
$breakpoint-info-large-fixed: info-large, $extra-large-cols, $media-fallback;

$info-extra-large-cols: 12;
$breakpoint-info-extra-large: info-extra-large, $extra-large-cols;
$breakpoint-info-extra-large-fixed: info-extra-large, $extra-large-cols, $media-fallback;

$left-navigation-cols: 3;

$grid-padding: 8px;
