<html>
  <head>
    <title>Status von {{application.name}}</title>
    <link rel="stylesheet" href="/turing-status-public/css/status.css" media="screen" title="no title" charset="utf-8">
  </head>

  <body>
    <div class="status status--{{application.status}}">
      <b>{{application.name}}</b><br>
      Status: {{application.status}}
    </div>
</body>
</html>
