{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": false
  },
  "globals": {
    "expect": false,
    "fixture": false,
    "sandbox": false,
    "sinon": false
  },
  "rules": {
    "init-declarations": "off",
    "max-len": "off"
  }
}
