.status {
  padding: 10px;
  text-align: center;
}

.status--OK {
  background-color: rgb(228, 236, 185);
  color: rgb(62, 82, 11);
}

.status--WARNING {
  background-color: rgb(255, 239, 176);
  color: rgb(34, 34, 34);
}

.status--ERROR {
  background-color: rgb(250, 214, 208);
  color: rgb(212, 2, 29);
}
