@import "../../../../../bower_components/compass-mixins/lib/compass";
@import "../../imports/grid";

* {
  @include box-sizing(border-box);
}

body {
  background: #ECE9E2;
  margin: 0;
}

.gridAndInfoContainer {
  height: 100%;
  @include susy-breakpoint($breakpoint-info-extra-large...) {
    margin-left: auto;
    margin-right: auto;
    width: 1342px;
  }

  .gridContainer {
    background: #FFFFFF;
    max-width: 1152px;
    min-width: 320px;
    @include susy-breakpoint($breakpoint-large...) {
      padding: 0 8px;
    }
    @include susy-breakpoint($breakpoint-info-large...) {
      float: left;
      min-width: 1025px;
      padding: 0 32px;
      width: 84%;
    }
    @include susy-breakpoint($breakpoint-info-extra-large...) {
      width: 1152px;
    }
  }

  .infoContainer {
    display: none;
    @include susy-breakpoint($breakpoint-info-large...) {
      display: inline-block;
      margin: 214px 6px 0 24px;
      width: 160px;
    }
  }
}
